.headerContainer {
  display: flex;
  padding: 10px;
  background-color: #0d212d;
}

.logoContainer {
  /* background-color: blue; */
  flex-grow: 1;
}

.logo {
  color: grey
}

.linksContainer {
  display: flex;
}

.navLinks {
  /* background-color: pink; */
  justify-content: space-around;
  color: lightblue
}

.navLinks:hover {
  color: rgb(104, 43, 160)
}

.logoContainer, .navLinks {
  padding: 10px;
}
