
.introSection {
  display: flex;
  background-image: url('../assets/MainHeroImage1.jpg');   
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: flex-start;

}

.introInfo {
  display: flex; 
  flex-direction: column;
  margin: 40px;
  justify-content: flex-start;
  min-height: 800px;
  width: auto;

}

.introHeader {
  font-size: 60px;
  color: rgb(59, 158, 230);
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}

.homeSubHeader {
  font-size: 20px;
  color:azure;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;;
  background-color: rgb(59, 230, 202);
  color: black;
}

button:hover {
  background-color: rgb(12, 65, 163);
  color:azure;
}

.projectSection {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectHeader {
  font-size: 60px;
  margin: 10px;
  color: rgb(90, 94, 168);
  justify-content: center;
  text-align: center;
}

.projectCard1, .projectCard2 {
  border-color: rgb(178, 166, 239);
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  width: 400px;
  height: 353px;
  margin: 20px;
}

.projectCard1 {
  background-image: url('../assets/Project1.jpg');
 
}

.projectCard2 {
  background-image: url('../assets/Project2.jpg');
}
