
.introSection {
  display: flex;
  background-image: url('../assets/RainbowSkyline.jpg');   
  width: auto;
  max-height: 800px;
  background-size: cover;
  background-position: bottom;
  justify-content: center;

}

.introInfo {
  display: flex; 
  flex-direction: column;
  margin: 40px;
  justify-content: flex-start;
  height: 400px;
  width: auto;

}

.introHeader {
  font-size: 60px;
  margin: 10px;
  color: rgb(152, 0, 0);
  justify-content: center;
  text-align: center;
}

p {
  margin-left: 20px;
}

button {
  width: 100px;
  height: 40px;
  margin: 20px;
}

.projectSection {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectCard1, .projectCard2 {
  border-color: antiquewhite;
  border-width: 5px;
  border-style: solid;
  width: 400px;
  height: 353px;
  margin: 20px;
  

}

.projectCard1 {
  background-image: url('../assets/Project1.jpg');
  
  
}

.projectCard2 {
  background-image: url('../assets/Project2.jpg');
}
