.projectInfo {
    display: flex; 
    flex-direction: column;
    margin-top: 163px;
    padding: 20px;
    backdrop-filter: blur(2px);
    background-color: rgba(25, 25, 25, 0.709);
    justify-content: center;
    align-items: center;
    /* background-size: 150%; */
}

.projectName {
    font-size: 40px;
    color: rgb(109, 197, 240);
    margin: 0px;
    padding: 0px;
}

.projectDescription {
    font-size: 30px;
    color: antiquewhite;
    margin: 0px;
    padding: 10px;
}

.projectButtonContainer {
    display: flex;
}

.projectButton {
    width: 100px;
    height: 40px;
    margin: 5px;
}

.projectName, .projectDescription {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}